{% extends "print/page/layout.html" %}
{% block body %}
<tbody style="border-spacing:10px;">
    {% set weight=namespace(total=0) %}
    {% for row in order_data.rows %}
    {% if row['weight'] %}
    {% set weight.total=weight.total+row['weight'] %}
    {% endif %}
    <tr>
        <td style="border: 1px solid;font-size:12px;">
            <table>
                <tr><td style="padding-right: 10px;">שורה:</td><td style="padding-right: 10px;">{{row.job_id}}</td></tr>
                <tr><td style="padding-right: 10px;">אלמנט:</td><td style="padding-right: 10px;">{{row.element}}</td></tr>
                <tr><td style="padding-right: 10px;">מס ברזל:</td><td style="padding-right: 10px;">{{row.inner_id}}</td></tr>
                <tr><td style="padding-right: 10px;">קוטר:</td><td style="padding-right: 10px;">{{row.diam}}</td></tr>
                <tr><td style="padding-right: 10px;">כמות:</td><td style="padding-right: 10px;">{{row.quantity}}</td></tr>
            </table>
        </td>
        <td style="border: 1px solid;font-size:12px;padding-right: 10px;">
            <table>
                <tr><td style="padding-right: 10px;">אורך חיתוך:</td><td style="padding-right: 10px;">{{row.length}}</td></tr>
                <tr><td style="padding-right: 10px;">משקל ק"ג:</td><td style="padding-right: 10px;">{{row.weight}}</td></tr>
                <tr><td style="padding-right: 10px;">מס צורה:</td><td style="padding-right: 10px;">{{row.shape}}</td></tr>
                <tr><td style="padding-right: 10px;">חישוק:</td><td style="padding-right: 10px;">{{row.circle}}</td></tr>
                <tr><td style="padding-right: 10px;"></td><td style="padding-right: 10px;"></td></tr>
            </table>
        </td>
        <td style="border: 1px solid;text-align: center;" width="200px"><img src="{{row.pdf417_dir}}" width="95%"></td>
        <td colspan="2" style="border: 1px solid;text-align: center;" height="70px"><img src="{{row.img_dir}}" height="70px"></td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"></td>
        <td colspan="2" style="text-align: center;font-weight: bold;">{% if weight.total %}סה"כ: {{weight.total}} ק"ג{% endif %}</td>
    </tr>
    {% if summary %}
    <tr class="pagebreak"><td height="20px"></td></tr>
    <tr style="background-color:LightGray !important;">
        <td colspan="5" style="text-align: center;font-weight: bold;border: 1px solid;">סיכום משקל ברזל</td>
    </tr>
    <tr style="text-align: center;font-weight: bold;">
        <td style="border: 1px solid;">סוג ברזל</td>
        <td style="border: 1px solid;">קוטר ברזל</td>
        <td style="border: 1px solid;">סה"כ אורך ס"מ</td>
        <td style="border: 1px solid;">משקל למטר</td>
        <td style="border: 1px solid;">משקל תיאורטי ק"ג</td>
    </tr>
    {% for t in summary.diams %}
    <tr style="text-align: center;">
        <td style="border: 1px solid;">{{summary.diams[t].type}}</td>
        <td style="border: 1px solid;">{{t}}</td>
        <td style="border: 1px solid;">{{summary.diams[t].length}}</td>
        <td style="border: 1px solid;">{{summary.diams[t].kgm}}</td>
        <td style="border: 1px solid;">{{summary.diams[t].weight}}</td>
    </tr>
    {% endfor %}
    {% if weight.total %}
    <tr>
        <td colspan="4"></td>
        <td style="text-align: center;font-weight: bold;border: 1px solid;">סה"כ: {{weight.total}} ק"ג</td>
    </tr>
    {% endif %}
    <tr><td height="20px"></td></tr>
    <tr style="background-color:LightGray !important;">
        <td colspan="5" style="text-align: center;font-weight: bold;border: 1px solid;">סיכום עבודה</td>
    </tr>
    <tr style="text-align: center;font-weight: bold;">
        <td colspan="3" style="border: 1px solid;">תיאור</td>
        <td style="border: 1px solid;">כמות</td>
        <td style="border: 1px solid;">משקל ק"ג</td>
    </tr>
    {% for t in summary.work %}
    {% if summary.work[t].qnt > 0 %}
    <tr style="text-align: center;">
        <td colspan="3" style="border: 1px solid;">{{t | replace('_', ' ')}}</td>
        <td style="border: 1px solid;">{{summary.work[t].qnt}}</td>
        <td style="border: 1px solid;">{{summary.work[t].weight}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endif %}
</tbody>
{% endblock %}