<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tzomet ERP">
    <meta name="author" content="Margolis Systems">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tzomet ERP</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="form-floating">
    <form name="change_status" id="change_status" method=POST action="{{ url_for('change_order_status') }}">
        <input type="text" class="form-control" name="status" value="canceled" autofocus="autofocus" readonly>
        <input type="hidden" name="order_id" value="{{order_id}}">
        <textarea name="reason" class="form-control" placeholder="סיבה" required></textarea>
        <button class="w-100 btn btn-lg btn-primary" id="submit" type="submit" onclick="refreshWindow();">אישור</button>
        <button type="button" class="w-100 btn btn-lg btn-primary" onclick="closeWindow();">סגור</button>
    </form>
</div>
<script src="\static\js\shapes.js" ></script>
</body>
</html>