<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tzomet ERP">
    <meta name="author" content="Margolis Systems">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tzomet ERP</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<form name="change_status" id="change_status" method=POST action="{{ url_for('change_order_status') }}" onsubmit="input_form.disabled = true; return true;">
<table class="table form-floating">
    <tr>
        <td>
            <select class="form-control" name="status" autofocus="autofocus" required>
                    <option value="NEW">הזמנה חדשה</option>
                    <option value="Processed">הוקלדה</option>
                    <option value="Production">ירד לייצור</option>
                    <option value="Finished">מוכנה</option>
                    <option value="Loaded">העמסה</option>
                    <option value="Delivered">סופקה</option>
                    <option value="PartlyDelivered">סופקה חלקית</option>
                    <option value="PartlyDeliveredClosed">סופקה חלקית ונסגרה</option>
                    <option value="Outsource">הזמנה ממקור חוץ</option>
                </select>
                <input type="hidden" name="order_id" value="{{order_id}}">
                <input type="hidden" name="job_id" value="{{job_id}}">
        </td>
    </tr>
    <tr>
        <td>
        <button class="w-100 btn btn-lg btn-primary" id="submit" type="submit" onclick="refreshWindow();">אישור</button>
        </td>
    </tr>
    <tr>
        <td>
        <button type="button" class="w-100 btn btn-lg btn-primary" onclick="closeWindow();">סגור</button>
        </td>
    </tr>
</table>
</form>
<table class="table form-floating">
    <tr>
        <td colspan="3" class="text-center">
            <b>היסטורית שינויים. הזמנה: {{order_id}}
            {% if job_id %}
            שורה: {{job_id}}
            {% endif %}
            </b>
        </td>
    </tr>
{% for h in status_history %}
    <tr>
        {% for item in h %}
        <td>
            {% if item == 'status' %}
            {{dictionary['order_status_'+h[item]]}}
            {% else %}
            {{h[item]}}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
<script src="\static\js\shapes.js" ></script>
</body>
</html>