<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tzomet ERP">
    <meta name="author" content="Margolis Systems">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tzomet ERP</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
{% if printer_list %}
    <form name="choose_printer" id="choose_printer" method=POST action="{{ url_for('choose_printer') }}" autocomplete="off" onsubmit="refreshWindow();input_form.disabled = true; return true;">
    {% else %}
    <form name="choose_printer" id="choose_printer" method=POST action="{{ url_for('choose_printer') }}" autocomplete="off" onsubmit="input_form.disabled = true; return true;">
    {% endif %}
    <table class="table table-striped" dir="rtl" align="center">
        <tr>
            <td></td>
        </tr>
        {% if printer_list %}
        <tr><td>בחר מדפסת</td></tr>
        <tr>
            <td>
                <select class="form-control" name="printer" autofocus="autofocus" required>
                {% for printer in printer_list %}
                    {% if printer == defaults.printer %}
                    <option value="{{ printer }}" selected>{{ printer }}: {{ printer_list[printer] }}</option>
                    {% else %}
                    <option value="{{ printer }}">{{ printer }}: {{ printer_list[printer] }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </td>
        </tr>
        {% if print_type != 'label' %}
        <tr><td>כמות העתקים</td></tr>
        <tr><td><input type="number" class="form-control" name="copies" value="{{ defaults.copies }}" placeholder="כמות עותקים"></td></tr>
        {% endif %}
        {% else %}
        <input type="hidden" name="printer" value="{{print_type}}">
        {% endif %}
        <tr><td>בחר שורות (הפרדה בפסיק או מקף)</td></tr>
        <tr><td><input type="text" class="form-control" name="print_select" placeholder="דוגמה (1-4 או 1,2,7)"></td></tr>
        <input type="hidden" name="print_type" value="{{print_type}}">
        {% if split|length > 1 %}
        <tr><td>
            <datalist id="split">
                {% for i in split %}=
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </datalist>
            <input list="split" type="text" pattern="{{pat}}" class="form-control" name="split" placeholder="פיצול: מאוחד" autofocus="autofocus" >

        </td></tr>
        {% endif %}
        <tr><td><button class="w-100 btn btn-lg btn-primary" id="submit" type="submit">אישור</button>
        <input type="hidden" name="sub_type" value="{{sub_type}}"></td></tr>
        <tr><td><button type="button" class="w-100 btn btn-lg btn-primary" onclick="closeWindow();">סגור</button></td></tr>
        <tr><td><input type="checkbox" name="disable_weight" class="form-check-input"><label>  הסתר משקל  </label></td></tr>
    </table>
</form>
<script src="\static\js\shapes.js" ></script>
</body>
</html>