{% extends "layout.html" %}
{% block body %}
<table class="table table-striped" align="center" dir="rtl">
    <tr>
        <td><button onclick="location.href='/edit_client'" type="button" class="btn btn-primary btn-block">לקוח חדש</button></td>
     </tr>
    <tr>
</table>
<table class="table table-striped" dir="rtl" align="center">
    </tr>
    <tr>
        {% for item in display_items %}
        <td width="5%"  style="outline: thin solid;text-align: center">
            <b>{% if dictionary[item] %}
                {{dictionary[item]}}
            {% else %}
            {% if dictionary['costumer_'+item] %}
                {{dictionary['costumer_'+item]}}
            {% else %}
                {{item}}
            {% endif %}
            {% endif %}</b>
        </td>
        {% endfor %}
    </tr>
    {% for client in clients %}
    <tr ondblclick="location.href='/edit_client?{{ clients[client]['id'] }}'" >
        {% for item in display_items %}
        <td height="50" style="outline: thin solid;text-align: center">
        {% if dictionary[clients[client][item]] %}
            {{dictionary[clients[client][item]]}}
        {% else %}
            {{ clients[client][item] }}
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table >
{% endblock %}