{% extends "layout.html" %}
{% block body %}
<style>
    #shape_data {
  opacity: 0;
  width: 0;
  float: left; /* Reposition so the validation message shows over the label */
}

div {
    text-align: center;
}
</style>
<table class="table table-striped" dir="rtl" align="center" >
    <tr>
    {% for item in order_data.info %}
    {% if item != 'comment' %}
        <td>
            <b>
                {% if dictionary[item] %}
                {{ dictionary[item] }}
                {% else %}
                {{ item }}
                {% endif %}:
            </b>
            {% if dictionary[order_data.info[item]] %}
            {{dictionary[order_data.info[item]]}}
            {% else %}
            {{ order_data.info[item] }}
            {% endif %}
        </td>
    {% endif %}
    {% endfor %}
    </tr>
</table>
{% if order_data.include %}
    {% include order_data.include %}
{% endif %}
<form name="input_form" id="input_form" method=POST action="{{ url_for('edit_order') }}">
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <td colspan="100">
            <input type="text" class="form-control" name="comment_hid" placeholder="הערות" value="{{ order_data.info['comment'] }}">
        </td>
    </tr>
    <tr>
        <td><button type=submit class="btn btn-primary btn-block" name="input_form">שורה חדשה</button></td>
        <td><button ondblclick="location.href='\close'" type="button" class="btn btn-primary btn-block" disabled>העתק שורה אחרונה</button></td>
        <td><button ondblclick="location.href='\close'" type="button" class="btn btn-primary btn-block" >שמור וסגור</button></td>
        <td><button ondblclick="location.href='\choose_printer?page'" type="button" class="btn btn-primary btn-block" disabled>הדפס דוגמה</button></td>
        <td><button ondblclick="location.href='\choose_printer?page'" type="button" class="btn btn-primary btn-block" >הדפס הזמנה</button></td>
        <td><button ondblclick="location.href='\choose_printer?label'" type="button" class="btn btn-primary btn-block" >הדפס פתקיות \ העבר לייצור</button></td>
        <!--<td><button ondblclick="confirmDel()" type="button" class="btn btn-primary btn-block" >מחק הזמנה</button></td>-->
    </tr>
</table>
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        {% for item in order_data.data_to_display %}
        {% if dictionary[item] %}
        {% set name = dictionary[item] %}
        {% else %}
        {% set name = item %}
        {% endif %}
        <td>
            <b>{{ name }}</b>
        </td>
        {% endfor %}
    </tr>
    <tr>
        {% for item in order_data.data_to_display %}
        {% if dictionary[item] %}
        {% set name = dictionary[item] %}
        {% else %}
        {% set name = item %}
        {% endif %}
            {% if order_data.data_to_display[item] == 0 %} <!-- Regular not required -->
            <td>
            <input type="text" class="form-control" name="{{ item }}" placeholder="{{ name }}">
            {% else %}
            {% if order_data.data_to_display[item] == 1 %} <!-- Regular required -->
            <td>
            <input type="number" class="form-control" name="{{ item }}" placeholder="{{ name }}" autofocus="autofocus" required>
            {% else %}
            {% if order_data.data_to_display[item] == 2 %} <!-- Auto calculated NOT an input1 -->
            <td width="80">
            <input class="form-control" name="{{ item }}" id="{{ item }}" value="---" readonly>
            <input type="hidden" name="{{ item }}"/>
            {% else %}
            {% if order_data.data_to_display[item] == 3 %} <!-- Data list - Must have a list with the item name -->
            <td>
            <input list="{{ item }}" value="{{ defaults[item] }}" class="form-control" name="{{ item }}" placeholder="{{ name }}" autofocus="autofocus" pattern="{{ patterns[item] }}" required>
                <datalist id="{{ item }}">
                {% for optn in lists[item] %}
                    <option value="{{ optn }}">{{dictionary[optn]}}</option>
                {% endfor %}
                </datalist>
            {% else %}
            {% if order_data.data_to_display[item] == 3.1 %} <!-- Data list - Must have a list with the item name -->
            <td>
            <input list="{{ item }}" type="number" id="editor" class="form-control" ondblclick='openNewWindow("{{ dictionary["editor_" + item] }}")' onchange='openNewWindow("{{ dictionary["editor_" + item] }}")' name="{{ item }}" placeholder="{{ name }}" autofocus="autofocus" pattern="{{ patterns[item] }}" required>
                <datalist id="{{ item }}">
                {% for optn in lists[item] %}
                    <option value="{{ optn }}">{{dictionary[optn]}}</option>
                {% endfor %}
                </datalist>
            <input name="{{ item }}_hid" id="shape_data" type="number" required>
            {% else %}
            {% if order_data.data_to_display[item] == 4 %} <!-- Check box -->
            <td>
            <input type="checkbox" value="Yes" class="form-control" name="{{ item }}">
            {% else %}
            ------
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% for row in order_data.order_rows %}
    {% if row['job_id'] != "0" %}
    <tr ondblclick="location.href='/edit_row?{{row['order_id']}}job{{row['job_id']}}'">
        {% for item in order_data.data_to_display %}
        <td>
            {{ row[item] }}
        </td>
        {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
</form>
<script src="\static\js\shapes.js" ></script>
{% endblock %}