{% extends "layout.html" %}
{% block body %}
<style>
    #shape_data {
  opacity: 0;
  width: 0;
  float: left; /* Reposition so the validation message shows over the label */
}

div {
    text-align: center;
}
</style>
<table class="table table-striped" dir="rtl" align="center">
    <tr>
    {% for item in order_data.info %}
    {% if item != 'comment' %}
        <td>
            <b>
                {% if dictionary[item] %}
                {{ dictionary[item] }}
                {% else %}
                {{ item }}
                {% endif %}:
            </b>
            {% if dictionary[order_data.info[item]] %}
            {{dictionary[order_data.info[item]]}}
            {% else %}
            {{ order_data.info[item] }}
            {% endif %}
        </td>
    {% endif %}
    {% endfor %}
    </tr>
</table>
{% if defaults.addbefore %}
<form name="input_form" id="input_form" method=POST action="{{ url_for('edit_order') }}?addbefore={{defaults.addbefore}}" onsubmit="input_form.disabled = true; return true;">
{% else %}
<form name="input_form" id="input_form" method=POST action="{{ url_for('edit_row') }}" onsubmit="input_form.disabled = true; return true;">
{% endif %}
{% if order_data.include %}
    {% include order_data.include %}
{% endif %}
<table class="table table-striped" dir="rtl" align="center">
        <td colspan="5">
            <input type="text" class="form-control" name="comment_hid" placeholder="הערות" onchange="this.form.submit()" value="{{ order_data.info['comment'] }}">
        </td>
        <td colspan="100">
            <input type="date" class="form-control" name="date_delivery_hid" placeholder="תאריך אספקה" onchange="this.form.submit()" value="{{ order_data.info['date_delivery'] }}">
        </td>
    <tr>
        <td><button type=button class="btn btn-primary btn-block" onclick="formSubmit()">עדכן</button></td>
        <td><button onclick="location.href='\orders'" type="button" class="btn btn-primary btn-block" >חזור</button></td>
        <td><button onclick="location.href='\close?delete_row';this.disabled=true;" type="button" class="btn btn-danger btn-block" >מחק שורה</button></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        {% for item in order_data.data_to_display %}
        {% if dictionary[item] %}
        {% set name = dictionary[item] %}
        {% else %}
        {% set name = item %}
        {% endif %}
        <td><b>{{ name }}</b></td>
        {% endfor %}
    </tr>
    <tr>
        {% include 'input_types.html'%}
    </tr>
</table>
</form>
<script src="\static\js\shapes.js" ></script>
<script>
    datatodisp = JSON.parse('{{order_data.data_to_display|tojson}}');
    dtd_order = {{order_data.dtd_order|safe}};
</script>
{% endblock %}