{% extends "layout.html" %}
{% block body %}
<style>
    #shape_data {
  opacity: 0;
  width: 0;
  float: left;
}

div {
    text-align: center;
}
</style>
<table class="table table-striped" dir="rtl" align="center" >
    <tr>
    {% for item in order_data.info %}
    {% if item not in ['comment','date_delivery'] %}
        <td>
            <b>
                {% if dictionary[item] %}
                {{ dictionary[item] }}
                {% else %}
                {{ item }}
                {% endif %}:
            </b>
            {% if dictionary[order_data.info[item]] %}
            {{dictionary[order_data.info[item]]}}
            {% else %}
            {{ order_data.info[item] }}
            {% endif %}
        </td>
    {% endif %}
    {% endfor %}
    </tr>
</table>
<form name="input_form" id="input_form" method=POST action="{{ url_for('edit_order') }}" onsubmit="input_form.disabled = true; return true;">
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <td>
            <button onclick='openNewWindow("\order_files")' type="button" class="btn btn-primary btn-block">קבצים מצורפים</button>
        </td>
        <td colspan="3">
            <input type="text" class="form-control" name="comment_hid" placeholder="הערות" value="{{ order_data.info['comment'] }}">
        </td>
        <td colspan="100">
            <input type="date" class="form-control" name="date_delivery_hid" min="2023-06-28" placeholder="תאריך אספקה" value="{{ order_data.info['date_delivery'] }}">
        </td>
    </tr>
    <tr>
        <td><button type=submit id="submit" class="btn btn-primary btn-block" name="input_form">שורה חדשה</button></td>
        <td><button onclick='copyLastRow({{ order_data.order_rows[0] }}, {{order_data.data_to_display}})' type="button" class="btn btn-primary btn-block">העתק שורה אחרונה</button></td>
        <td><button onclick="location.href='\close'" type="button" class="btn btn-primary btn-block" >שמור וסגור</button></td>
        <td><button onclick='openNewWindow("\choose_printer?test_page")' type="button" class="btn btn-primary btn-block">הדפס דוגמה</button></td>
        <td><button onclick='openNewWindow("\choose_printer?page")' type="button" class="btn btn-primary btn-block" >הדפס הזמנה</button></td>
        {% if order_data.info.status == "order_status_NEW" %}
        <td><button onclick='openNewWindow("\choose_printer?label")' type="button" class="btn btn-primary btn-block" >הדפס פתקיות \ העבר לייצור</button></td>
        {% else %}
        <td><button onclick='openNewWindow("\change_order_status")' type="button" class="btn btn-primary btn-block">שנה סטטוס</button></td>
        {% endif %}
        <td><label>סה"כ משקל</label><input type="number" value="{{ total_weight }}" name="total_weight_hid" class="form-control" readonly></td>
    </tr>
</table>
{% if order_data.include %}
    {% include order_data.include %}
{% endif %}
{% if order_data.info.status != "order_status_NEW" %}
<table class="table table-bordered" dir="rtl" align="center">
{% else %}
<table class="table table-striped" dir="rtl" align="center">
{% endif %}
    <tr>
        {% for item in order_data.data_to_display %}
        {% if dictionary[item] %}
        {% set name = dictionary[item] %}
        {% else %}
        {% set name = item %}
        {% endif %}
        <td>
            <b>{{ name }}</b>
        </td>
        {% endfor %}
    </tr>
    {% if order_data.info.status == "order_status_NEW" %}
    <tr>
        {% include 'input_types.html'%}
    </tr>
    {% endif %}
    {% for row in order_data.order_rows %}
    {% if row['job_id'] != "0" %}
    {% if order_data.info.status == "order_status_NEW" %}
    <tr ondblclick="location.href='/edit_row?{{row['order_id']}}job{{row['job_id']}}'">
    {% else %}
    <tr style="background-color:{{dictionary.html_colors[row['status']]}} !important;"  ondblclick='openNewWindow("\change_order_status?job_id={{row.job_id}}")'>
    {% endif %}
        {% for item in order_data.data_to_display %}
        <td>
            {{ row[item] }}
        </td>
        {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
</form>
<script src="\static\js\shapes.js" ></script>
<script>
datatodisp = JSON.parse('{{order_data.data_to_display|tojson}}');
dtd_order = {{order_data.dtd_order|safe}}
</script>
{% endblock %}