{% extends "layout/layout.html" %}
{% block body %}
<style>
    #shape_data {
  opacity: 0;
  width: 0;
  float: left;
}

div {
    text-align: center;
}
</style>
<table class="table table-striped" dir="rtl" align="center">
    <tr>
    {% set info_disp = ['created_by', 'date_created', 'last_status_update', 'type', 'costumer_name', 'costumer_site', 'status', 'total_weight', 'rows', 'order_id'] %}
    {% for item in info_disp %}
        <td>
            <b>
                {% if dictionary[item] %}
                {{ dictionary[item] }}
                {% else %}
                {{ item }}
                {% endif %}:
            </b>
        </td>
    {% endfor %}
    </tr>
    <tr>
    {% for item in info_disp %}
        {% if item in ['costumer_name', 'costumer_site'] %}
        <td ondblclick='openNewWindow("/new_order?{{order_data.info.order_id}}")'>
        {% else %}
        <td>
        {% endif %}
            {% if dictionary[order_data.info[item]] %}
            {{dictionary[order_data.info[item]]}}
            {% else %}
            {% if item=='status' %}
            {{dictionary['order_status_'+order_data.info[item]]}}
            {% else %}
            {{ order_data.info[item] }}
            {% endif %}
            {% endif %}
        </td>
    {% endfor %}
    </tr>
</table>
{% include 'layout/order_toolbar.html' %}
<form name="input_form" id="input_form" method=POST action="{{ url_for('edit_order') }}" onsubmit="input_form.disabled = true; return true;">
{% if order_data.include %}
    {% include order_data.include %}
{% endif %}
{% if order_data.info.status != "NEW" %}
<table class="table table-bordered" dir="rtl" align="center">
{% else %}
<table class="table table-striped" dir="rtl" align="center">
{% endif %}
    <tr>
        {% if order_data.info.status == "NEW" %}
        <td colspan="2"></td>
        {% endif %}
        {% for item in order_data.data_to_display %}
        {% if dictionary[item] %}
        {% set name = dictionary[item] %}
        {% else %}
        {% set name = item %}
        {% endif %}
        <td>
            <b>{{ name }}</b>
        </td>
        {% endfor %}
    </tr>
    {% if order_data.info.status == "NEW" %}
    <tr>
        <td colspan="2"></td>
        {% include 'input_types.html'%}
    </tr>
    {% endif %}
    {% for row in order_data.order_rows %}
    {% if row['job_id'] != "0" %}
    {% if order_data.info.status == "NEW" %}
    <tr ondblclick="location.href='/edit_row?order_id={{row['order_id']}}&job_id={{row['job_id']}}'" title="אורכים: {{row.shape_data}}">
    {% else %}
    <tr style="background-color:{{dictionary.html_colors['order_status_'+row['status']]}} !important;"  ondblclick='openNewWindow("\change_order_status?job_id={{row.job_id}}")' title="אורכים: {{row.shape_data}}">
    {% endif %}
    {% if order_data.info.status == "NEW" %}
        <td><button type="button" onclick="location.href='/edit_row?order_id={{row['order_id']}}&addbefore={{row['job_id']}}'">הוסף</button></td>
        <td><input type="checkbox" name="select_{{row['job_id']}}_hid" class="select" value="{{row['job_id']}}"></td>
    {% endif %}
        {% for item in order_data.data_to_display %}
        <td>
            {% if item in row %}
            {{ row[item] }} {% if item == 'quantity' and 'qnt_done' in row %} [{{row.qnt_done}}] {% endif %}
            {% else %}
            ---
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>
</form>
{% if msg %}
<label>סיבת ביטול</label><br>
<textarea readonly>{{msg}}</textarea>
{% endif %}
<script src="\static\js\shapes.js" ></script>
<script>
datatodisp = JSON.parse('{{order_data.data_to_display|tojson}}');
dtd_order = {{order_data.dtd_order|safe}};
</script>
{% endblock %}