{% extends "layout.html" %}
{% block body %}
<table class="table table-condensed" dir="rtl" align="center">
    <tr>
        {% for item in data_to_display %}
        <b><td>
        {% if dictionary[item] %}
            {{dictionary[item]}}
        {% else %}
            {{ item }}
        {% endif %}</td></b>
        {% endfor %}
    </tr>
    {% for order in orders %}
    <tr>
        {% for item in data_to_display %}
        {% if item != 'maintenance' %}
        <td height="50" style="outline: thin solid;text-align: center">
        {% if dictionary[order[item]] %}
            {{dictionary[order[item]]}}
        {% else %}
            {{ order[item] }}
        {% endif %}
        </td>
        {%endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table >
<script src="\static\js\shapes.js" ></script>
<script>
const refresh = () => {
setTimeout(function(){
location.reload();
}, 300);
setTimeout("window.close()",300)
};
function formSubmit(formName){
    document.getElementById(formName).submit();
}
</script>
{% endblock %}