{% extends "layout.html" %}
{% block body %}
<table class="table table-condensed" dir="rtl" align="center">
    <tr>
        <b><td>שורה</td>
        <td>מספר הזמנה</td>
        <td>Start</td>
        <td>קוטר</td>
        <td>אורך</td>
        <td>מספר מכונה</td>
        <td>שם מכונה</td>
        <td>שם מפעיל</td>
        <td>כמות</td>
        <td>סטטוס</td>
        <td>שם מסופון</td>
        <td>משקל</td>
        <td>FINISH</td>
    </tr>
    {% for order in orders %}
    <tr>
        {% for item in order %}
        {% if item != 'maintenance' %}
        <td height="50" style="outline: thin solid;text-align: center">
        {% if dictionary[order[item]] %}
            {{dictionary[order[item]]}}
        {% else %}
            {{ order[item] }}
        {% endif %}
        </td>
        {%endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table >
<script src="\static\js\shapes.js" ></script>
<script>
const refresh = () => {
setTimeout(function(){
location.reload();
}, 300);
setTimeout("window.close()",300)
};
function formSubmit(formName){
    document.getElementById(formName).submit();
}
</script>
{% endblock %}