{% extends "layout.html" %}
{% block body %}
<table class="table table-striped" align="center" dir="rtl">
    <tr>
        <td>סינון לפי:</td>
        <td>
            <button onclick="location.href='/user_config?filter=regular';refreshWindow();">הזמנות ברזל</button>
        </td>
        <td>
            <button onclick="location.href='/user_config?filter=rebar';refreshWindow();">הזמנות רשת</button>
        </td>
        <td>
            <button onclick="location.href='/user_config?filter=R';refreshWindow();">ייצור רשת</button>
        </td>
        <td>
            <button onclick="location.href='/user_config?filter=';refreshWindow();">איפוס</button>
        </td>
        <form name="form" id="form" method=POST action="{{ url_for('jobs') }}">
        <td><label>הצג הזמנות מיום</label>
            <input type="date" value="2023-06-05">
            <label>עד יום</label>
            <input type="date" value="2023-07-05"></td>
        </form>
    </tr>
</table>
<table class="table table-condensed" align="center" dir="rtl">
    <tr>
        {% for key in jobs[0] %}
        <td>
            {% if dictionary[key] %}
            {{ dictionary[key] }}
            {% else %}
            {{ key }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% for job in jobs%}
    <tr bgcolor="{{dictionary.html_colors[job.status]}}">
        {% for item in job %}
        <td>
            {% if dictionary[job[item]] %}
                {{dictionary[job[item]]}}
            {% else %}
                {{job[item]}}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<script>
const refreshWindow = () => {
setTimeout(function(){
location.reload();
}, 300);
setTimeout("window.close()",300)
};
</script>
{% endblock %}