{% extends "layout.html" %}
{% block body %}
<table class="table table-striped" align="center" dir="rtl">
    <tr>
        <form name="form" id="form" method=POST action="{{ url_for('jobs') }}">
        <td>
            <input list="order_type" name="order_type" class="form-control" placeholder="בחר סוג הזמנה לתצוגה" pattern="regular|rebar|rebar_special">
            <datalist id="order_type">
                <option value="regular">ברזל</option>
                <option value="rebar">רשת</option>
                <option value="rebar_special">רשת מיוחדת</option>
            </datalist>
        </td>
        <td>
            <button type="submit">אישור</button>
        </td>
        </form>
    </tr>
</table>
<table class="table table-striped" align="center" dir="rtl">
    <tr>
        {% for key in jobs[0] %}
        <td>
            {% if dictionary[key] %}
            {{ dictionary[key] }}
            {% else %}
            {{ key }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% for job in jobs%}
    <tr>
        {% for info in job %}
        <td>
            {{job[info]}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}