{% extends "layout.html" %}
{% block body %}
<table class="table table-striped" align="center" dir="rtl">
    <tr>
        {% for key in jobs[0] %}
        <td>
            {% if dictionary[key] %}
            {{ dictionary[key] }}
            {% else %}
            {{ key }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% for job in jobs%}
    <tr>
        {% for info in job %}
        <td>
            {{job[info]}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}