{% extends "layout/layout.html" %}
{% block body %}
{% if machine_list %}
<style>
td {
  text-align: center;
}
</style>
<table class="table table-striped" align="center" dir="rtl">
    <tr>
        <td><b>מספר מכונה</b></td>
        <td><b>שם מכונה</b></td>
        <td><b>מפעל</b></td>
        <td><b>שם משתמש מסופון</b></td>
        <td><b>שם מפעיל</b></td>
    </tr>
    {% for machine in machine_list %}
    <form id="form_{{machine.machine_id}}" method=POST action="{{ url_for('machines') }}" onsubmit="form_{{machine.machine_id}}.disabled = true; return true;">
        <tr>
            <td>{{machine.machine_id}}</td>
            <td>{{machine.machine_name}}</td>
            <td>{{machine.plant}}</td>
            <td>
                <input type="hidden" name="machine" value="{{machine.machine_id}}">
                <select name="username" onchange="form_{{machine.machine_id}}.submit()">
                    {% for user in users_list %}
                    {% if user == machine.username%}
                    <option value="{{user}}" selected>{{user}}</option>
                    {% else %}
                    <option value="{{user}}">{{user}}</option>
                    {% endif %}
                    {% endfor %}
            </td>
            <td>
                <input type="text" name="operator_name" onchange="form_{{machine.machine_id}}.submit()" value="{{machine.operator}}">
            </td>
        </tr>
    </form>
    {% endfor %}
    <form id="form" method=POST action="{{ url_for('machines') }}" onsubmit="input_form.disabled = true; return true;">
        <tr>
            <td></td>
            <td><input type="text" name="machine_name" required></td>
            <td>
                <select name="plant" required>
                    <option value="ראשי">ראשי</option>
                    <option value="רשת">רשת</option>
                    <option value="רומן">רומן</option>
            </td>
            <td>
                <select name="username" required>
                    {% for user in users_list %}
                    <option value="{{user}}">{{user}}</option>
                    {% endfor %}
            </td>
            <td>
                <input type="text" name="operator" required>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">הוסף</button> </td>
        </tr>
    </form>
    {% if msg %}
    <tr>
        <td colspan="100">{{msg}}</td>
    </tr>
    {% endif %}
</table>
{% else %}
Access denied
{% endif %}
{% endblock %}