{% extends "layout.html" %}
{% block body %}
<table class="table table-striped" align="center" dir="rtl">
    <tr>
        <td height="50">
        </td>
    </tr>
    <tr onclick="location.href='/new_order?rebar'">
        <td  class="btn btn-primary btn-block" width="100%" colspan="2" style="outline: thin solid;text-align: center">
            הזמנה חדשה
        </td>
    </tr>
    <tr>
        {% for item in display_items %}
        <td width="5%"  style="outline: thin solid;text-align: center">
            <b>{{item}}</b>
        </td>
        {% endfor %}
    </tr>
    {% for order in orders %}
    <tr ondblclick="location.href='/edit_order?{{ orders[order]['order_id'] }}'" >
        {% for item in display_items %}
        <td height="50" style="outline: thin solid;text-align: center">{{ orders[order][item] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table >
{% endblock %}