{% extends "layout/layout.html" %}
{% block body %}
{% if order_id %}
הזמנה מס: {{order_id}}
{% endif %}
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <form method=POST id="input_form" autocomplete="off" action="{{ url_for('new_order') }}" onsubmit="input_form.disabled = true; return true;">
            <td>
                <label>סוג הזמנה</label>

                <select name="order_type" class="form-control">
                    {% for i in types %}
                    {% if order_type==i %}
                    <option value="{{ i }}" selected>{{ dictionary[i] }}</option>
                    {% else %}
                    <option value="{{ i }}">{{ dictionary[i] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="order_id" value="{{order_id}}">
                {% if site == "" %}
                <label>בחר לקוח</label>
                <input list="client_list" class="form-control" name="name" placeholder="select client" autofocus="autofocus" required>
                    <datalist id="client_list">
                    {% for item in clients %}
                        <option value="{{ item }}">
                    {% endfor %}
                    </datalist>
                {% else %}
                <label>בחר אתר לקוח / לקוח נבחר: {{clients}}</label><br>
                <input type="hidden" name="name" value="{{clients}}">
                <input list="sites_list" class="form-control" name="site" placeholder="select site" autofocus="autofocus" autocomplete="off" required>
                    <datalist id="sites_list">
                    {% for item in site %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                    </datalist>
                {% endif %}
                <button type="submit" class="btn btn-primary btn-block" onclick="refreshWindow()">אישור</button>
            </form>
        </td>
    </tr>
</table>
{% endblock %}