<table dir="rtl" align="center">
    <tr>
        <td>
            <table class="table table-striped" dir="rtl" align="center">
                <tr>
                {% set focus_index = order_data.data_to_display|length %}
                    <td id="spiral_container">
                        מקטעי ליפוף
                        <input type="number" name="spiral" id="spiral" class="form-control" placeholder="אורך" value="{{defaults['spiral']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' required>
                        <input type="number" name="spiral_1" id="spiral_1" class="form-control" placeholder="אורך" value="{{defaults['spiral_1']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' >
                        <input type="number" name="spiral_2" id="spiral_2" class="form-control" placeholder="אורך" value="{{defaults['spiral_2']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' >
                        <input type="number" name="spiral_3" id="spiral_3" class="form-control" placeholder="אורך" value="{{defaults['spiral_3']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' >
                        <!--<input type="number" name="spiral_diam" id="spiral_diam" class="form-control" placeholder="קוטר" value="{{defaults['spiral_diam']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' required>-->
                    </td>
                    <td id="pitch_container">
                        מרווח
                        <input type="number" name="pitch" id="pitch" class="form-control" placeholder="מרווח" value="{{defaults['pitch']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' required>
                        <input type="number" name="pitch_1" id="pitch_1" class="form-control" placeholder="מרווח" value="{{defaults['pitch_1']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' >
                        <input type="number" name="pitch_2" id="pitch_2" class="form-control" placeholder="מרווח" value="{{defaults['pitch_2']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' >
                        <input type="number" name="pitch_3" id="pitch_3" class="form-control" placeholder="מרווח" value="{{defaults['pitch_3']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' >
                    </td>
                </tr>
            </table>
        </td>
        <td width="80"></td>
        <td>
            <table class="table table-striped" dir="rtl" align="center">
                <tr>
                    <td id="bars_len_container">
                        חוטי אורך
                        <input type="number" name="bars" id="bars"  class="form-control" placeholder="כמות" value="{{defaults['bars']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' required>
                        <input type="number" name="bars_1" id="bars_1"  class="form-control" placeholder="כמות" value="{{defaults['bars_1']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' >
                    </td>
                    <td id="bars_diam_container">
                        קוטר
                        <input type="number" name="bars_diam" id="bars_diam" class="form-control" placeholder="קוטר" value="{{defaults['bars_diam']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' required>
                        <input type="number" name="bars_diam_1" id="bars_diam_1" class="form-control" placeholder="קוטר" value="{{defaults['bars_diam_1']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' >
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <label>טבעות</label>
            <input class="form-control" name="rings" placeholder="{{dictionary['rings']+' '+dictionary['quantity']}}" value="{{defaults['rings']}}" onkeydown="return event.key != 'Enter';">
            <input class="form-control" name="rings_diam" placeholder="{{dictionary['rings_diam']}}" value="{{defaults['rings_diam']}}" onkeydown="return event.key != 'Enter';">
        </td>
        <td>
            <label>צינור</label>
            <input class="form-control" name="pipe_diam" placeholder="{{dictionary['pipe_diam']}}" value="{{defaults['pipe_diam']}}" onkeydown="return event.key != 'Enter';">
            <input class="form-control" name="pipe_len" placeholder="{{dictionary['pipe_length']}}" value="{{defaults['pipe_len']}}" onkeydown="return event.key != 'Enter';">
            <input class="form-control" name="pipe_thick" placeholder="{{dictionary['pipe_thick']}}" value="{{defaults['pipe_thick']}}" onkeydown="return event.key != 'Enter';">
        </td>
    </tr>
</table>