<table dir="rtl" align="center">
    <tr>
        <td>
            <table class="table table-striped" dir="rtl" align="center">
                <tr>
                {% set focus_index = order_data.data_to_display|length %}
                    <td id="spiral_container">
                        מקטעי ליפוף
                        <input type="number" name="spiral" id="spiral" class="form-control" placeholder="אורך" value="{{defaults['spiral']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' required>
                        <input type="number" name="spiral_1" id="spiral_1" class="form-control" placeholder="אורך" value="{{defaults['spiral_1']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+2}})' >
                        <input type="number" name="spiral_2" id="spiral_2" class="form-control" placeholder="אורך" value="{{defaults['spiral_2']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+4}})' >
                        <input type="number" name="spiral_3" id="spiral_3" class="form-control" placeholder="אורך" value="{{defaults['spiral_3']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+6}})' >
                        <!--<input type="number" name="spiral_diam" id="spiral_diam" class="form-control" placeholder="קוטר" value="{{defaults['spiral_diam']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index}})' required>-->
                    </td>
                    <td id="pitch_container">
                        מרווח
                        <input type="number" name="pitch" id="pitch" class="form-control" placeholder="מרווח" value="{{defaults['pitch']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+1}})'>
                        <input type="number" name="pitch_1" id="pitch_1" class="form-control" placeholder="מרווח" value="{{defaults['pitch_1']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+3}})' >
                        <input type="number" name="pitch_2" id="pitch_2" class="form-control" placeholder="מרווח" value="{{defaults['pitch_2']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+5}})' >
                        <input type="number" name="pitch_3" id="pitch_3" class="form-control" placeholder="מרווח" value="{{defaults['pitch_3']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+7}})' >
                    </td>
                </tr>
            </table>
        </td>
        <td width="80"></td>
        <td>
            <table class="table table-striped" dir="rtl" align="center">
                <tr>
                    <td id="bars_container">
                        חוטי אורך
                        <input type="number" name="bars" id="bars"  class="form-control" placeholder="חוטי אורך כמות" value="{{defaults['bars']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+8}})' required>
                        <input type="number" name="bars_1" id="bars_1"  class="form-control" placeholder="חוטי אורך כמות" value="{{defaults['bars_1']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+11}})' >
                    </td>
                    <td id="bars_diam_container">
                        קוטר
                        <input type="number" name="bars_diam" id="bars_diam" class="form-control" placeholder="קוטר" value="{{defaults['bars_diam']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+9}})' required>
                        <input type="number" name="bars_diam_1" id="bars_diam_1" class="form-control" placeholder="קוטר" value="{{defaults['bars_diam_1']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+12}})' >
                    </td>
                    <td id="bars_len_container">
                        אורך
                        <input type="number" name="bars_len" id="bars_len" class="form-control" placeholder="אורך" value="{{defaults['bars_len']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+10}})' required>
                        <input type="number" name="bars_len_1" id="bars_len_1" class="form-control" placeholder="אורך" value="{{defaults['bars_len_1']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+13}})' >
                    </td>
                </tr>
            </table>
        </td>
        <td width="80"></td>
        <td>
            <label>טבעות</label>
            <input class="form-control" name="rings" id="rings" placeholder="{{dictionary['rings']+' '+dictionary['quantity']}}" value="{{defaults['rings']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+14}})' required>
            <input class="form-control" name="rings_diam" id="rings_diam" placeholder="{{dictionary['rings_diam']}}" value="{{defaults['rings_diam']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+15}})' required>
        </td>
        <td width="80"></td>
        <td>
            <label>צינור</label>
            <input class="form-control" name="pipes" id="pipes" placeholder="כמות" value="{{defaults['pipes']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+16}})'>
            <input class="form-control" name="pipe_diam" id="pipe_diam" placeholder="{{dictionary['pipe_diam']}}" value="{{defaults['pipe_diam']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+17}})'>
            <input class="form-control" name="pipe_len" id="pipe_len" placeholder="{{dictionary['pipe_length']}}" value="{{defaults['pipe_len']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{focus_index+18}})'>
            <input class="form-control" name="pipe_thick" id="pipe_thick" placeholder="{{dictionary['pipe_thick']}}" value="{{defaults['pipe_thick']}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext(0)'>
        </td>
        <td width="80"></td>
        <td><label>הערות</label><textarea class="form-control" name="pile_comment" id="pile_comment" rows="6">{{defaults['comment']}}</textarea> </td>
    </tr>
</table>