{% extends "layout/layout.html" %}
{% block body %}
<style>
@media print {
  table {
    font-size: 10px;
  }
}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
}

.checkboxes label {
  display: block;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}
</style>
<table class="table table-sm" align="center" dir="rtl">
    <tr class="d-print-none">
        <td><button onclick="location.href='/reports?report=production'" type="button" class="btn btn-primary btn-block">דוח ייצור</button></td>
        <td><button onclick="location.href='/reports?report=orders'" type="button" class="btn btn-primary btn-block">דוח הזמנות</button></td>
        <td><button onclick="location.href='/reports?report=status'" type="button" class="btn btn-primary btn-block">דוח סטטוס הודפס</button></td>
        <td><button onclick="location.href='/reports?report=open_orders'" type="button" class="btn btn-primary btn-block">דוח הזמנות פתוחות</button></td>
        <td><button onclick="location.href='/reports?report=clear'" type="button" class="btn btn-danger btn-block">איפוס</button></td>
    </tr>
    <tr>
        <form method=POST id="date_form" autocomplete="off" action="{{ url_for('reports_page') }}" onsubmit="date_form.disabled = true; return true;">
            {% if machine_id %}
            <input type="hidden" name="machine_id" value="{{machine_id}}">
            {% endif %}
            <input type="hidden" name="report" value="{{report}}">
        <td>
            <label>מיום
            <input type="date" name="date_from" value="{{date.from}}" onchange="formSubmit('date_form');"></label>
        </td>
        <td>
            <label>עד יום
            <input type="date" name="date_to" value="{{date.to}}" onchange="formSubmit('date_form');"></label>
        </td>
            {% if statuses %}
        <td>
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes('chkbx')">
              <select>
                <option>בחירת סטטוסים</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div class="checkboxes" id="chkbx">
                {% for status in statuses %}
              <label for="status{{loop.index}}">
                <input type="checkbox" id="status{{loop.index}}" name="status{{loop.index}}" value="{{status}}" />{{dictionary['order_status_'+status]}}</label>
                {% endfor %}
              <button>ok</button>
                </div>
             </div>
            </td>
            <td>
              <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes('chkbx2')">
                  <select>
                    <option>בחירת סוג הזמנות</option>
                  </select>
                  <div class="overSelect"></div>
                </div>
                <div class="checkboxes" id="chkbx2">
                    {% for type in types %}
                  <label for="type{{loop.index}}">
                    <input type="checkbox" id="type{{loop.index}}" name="type{{loop.index}}" value="{{type}}" />{{dictionary[type]}}</label>
                    {% endfor %}
                  <button>ok</button>
                    </div>
                 </div>
                </td>
            {% endif %}
        </form>
        <td colspan="2">
        {% if report_data %}<button onclick="window.print();" type="button" class="btn btn-success btn-block d-print-none">הדפס</button>
        {% endif %}
        </td>
    </tr>
</table>
{% if report_data %}
<table class="table table-sm" align="center" dir="rtl">
    <tr>
        {% if not data_to_display %}
        {% set data_to_display=report_data[0] %}
        {% endif %}
        {% for item in data_to_display %}
        {% if dictionary[item] %}
        {% set name = dictionary[item] %}
        {% else %}
        {% set name = item %}
        {% endif %}
        <td>
            <b>{{ name }}</b>
        </td>
        {% endfor %}
    </tr>
    {% for line in report_data %}
        {% if report == 'production' %}
            {% if line['order_id'] and not machine_id %}
            <tr ondblclick="location.href='/reports?report=production&machine_id={{line.machine_id}}'" class="d-print-none">
            {% else %}
            <tr ondblclick="location.href='/reports?report=production&machine_id={{line.machine_id}}'">
            {% endif %}
        {% else %}
        <tr>
        {% endif %}
        {% for item in data_to_display %}
        <td>
            {% if not line['order_id'] %}
            <b>
            {% if item == 'weight' %}
            סה"כ:
            {% endif %}
            {% endif %}
            {% if dictionary[line[item]] %}
                {{dictionary[line[item]]}}
            {% else %}
                {{ line[item] }}
            {% endif %}
            </b>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
<script src="\static\js\shapes.js" ></script>
<script>
function formSubmit(formName){
    document.getElementById(formName).submit();
}
</script>
{% endblock %}