{% extends "layout/layout.html" %}
{% block body %}
<style>
@media print {
  table {
    font-size: 12px;
  }
}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
}

.checkboxes label {
  display: block;
}

.checkboxes label:hover {
  background-color: #1e90ff;
}

td{
    text-align: center;
}
</style>
<table class="table table-sm" align="center" dir="rtl">
    <tr class="d-print-none">
        <td width="100"><button onclick="location.href='/reports?report=production'" type="button" class="btn btn-primary btn-block">דוח ייצור</button></td>
        <td width="100"><button onclick="location.href='/reports?report=orders'" type="button" class="btn btn-primary btn-block">דוח הזמנות</button></td>
        <td width="100"><button onclick="location.href='/reports?report=status'" type="button" class="btn btn-primary btn-block">דוח סטטוס הודפס</button></td>
        <td width="100"><button onclick="location.href='/reports?report=open_orders'" type="button" class="btn btn-primary btn-block">דוח הזמנות פתוחות</button></td>
        <td width="100"><button onclick="location.href='/reports?report=month_prod'" type="button" class="btn btn-warning btn-block">דוח ייצור רמי</button></td>
        <td width="100"></td>
        <td>
        {% if report_data %}<button onclick="window.print();" type="button" class="btn btn-success btn-block d-print-none">הדפס</button>
        {% endif %}
        </td>

    </tr>
    <tr>
        <form method=POST id="date_form" autocomplete="off" action="{{ url_for('reports_page') }}" onsubmit="date_form.disabled = true; return true;">
            {% if machine_id %}
            <input type="hidden" name="machine_id" value="{{machine_id}}">
            {% endif %}
        <td>
            <label>מיום
            <input type="date" name="date_from" value="{{date.from}}" onchange="formSubmit('date_form');"></label>
        </td>
        <td>
            <label>עד יום
            <input type="date" name="date_to" value="{{date.to}}" onchange="formSubmit('date_form');"></label>
        </td>
        {% if report in ['production', 'month_prod'] %}
        <input type="hidden" value="{{report}}" name="report">
        <td>
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes('chkbx')">
              <select>
                <option>בחירת מפעל</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div class="checkboxes" id="chkbx" style="text-align: right;">
              <label for="plant1">
                <input type="checkbox" id="plant1" name="plant1" value="ראשי" onchange="set_cookie('plant1')"/>ראשי</label>
              <label for="plant2">
                <input type="checkbox" id="plant2" name="plant2" value="רשת" onchange="set_cookie('plant2')"/>רשת</label>
              <button>ok</button>
            </div>
          </div>
        </td>
        {% endif %}
        </form>
        <form method=POST id="filter_form" autocomplete="off" action="{{ url_for('reports_page') }}" onsubmit="date_form.disabled = true; return true;">
        {% if statuses %}
        <td>
          <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes('chkbx')">
              <select>
                <option>בחירת סטטוסים</option>
              </select>
              <div class="overSelect"></div>
            </div>
            <div class="checkboxes" id="chkbx" style="text-align: right;">
                {% for status in statuses %}
              <label for="status{{loop.index}}">
                <input type="checkbox" id="status{{loop.index}}" name="status{{loop.index}}" value="{{status}}"/>{{dictionary['order_status_'+status]}}</label>
                {% endfor %}
              <button>ok</button>
                </div>
             </div>
            </td>
            <td>
              <div class="multiselect">
                <div class="selectBox" onclick="showCheckboxes('chkbx2')">
                  <select>
                    <option>בחירת סוג הזמנות</option>
                  </select>
                  <div class="overSelect"></div>
                </div>
                <div class="checkboxes" id="chkbx2" style="text-align: right;">
                    {% for type in types %}
                  <label for="type{{loop.index}}">
                    <input type="checkbox" id="type{{loop.index}}" name="type{{loop.index}}" value="{{type}}"/>{{dictionary[type]}}</label>
                    {% endfor %}
                  <button>ok</button>
                    </div>
                 </div>
                </td>
            <td><input name="info.costumer_name" placeholder="שם לקוח" value=""></td>
            {% endif %}
        </form>
    </tr>
</table>
{% if report_data %}
<table class="table table-sm" align="center" dir="rtl">
    <tr>
        {% for item in data_to_display %}
        {% if dictionary[item] %}
        {% set name = dictionary[item] %}
        {% else %}
        {% set name = item %}
        {% endif %}
        <td>
            <b>{{ name }}</b>
        </td>
        {% endfor %}
    </tr>
    {% for line in report_data %}
        {% if report in ['production', 'month_prod'] %}
            {% if line['order_id'] and not machine_id %}
            <tr ondblclick="location.href='/reports?report=production&machine_id={{line.machine_id}}'" class="d-print-none">
            {% else %}
            <tr ondblclick="location.href='/reports?report=production&machine_id={{line.machine_id}}'">
            {% endif %}
        {% else %}
        <tr>
        {% endif %}
        {% for item in data_to_display %}
        <td>
            {% if not line['order_id'] %}
            <b>
            {% if item == 'weight' %}
            סה"כ:
            {% endif %}
            {% endif %}
            {% if dictionary[line[item]] %}
                {{dictionary[line[item]]}}
            {% else %}
                {{ line[item] }}
            {% endif %}
            </b>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
<script src="\static\js\shapes.js" ></script>
<script>
function formSubmit(formName){
    document.getElementById(formName).submit();
}

function set_cookie(elem_id){
    elem = document.getElementById(elem_id);
    document.cookie = elem_id+'='+elem.checked
}

function update_from_cookie(){
    all_cookies = document.cookie.split("; ");
    for (c in all_cookies){
        console.log();
        i = all_cookies[c].split('=');
        elem = document.getElementById(i[0]);
        if (elem){
            if (i[1] == 'true'||i[1] == 'false'){
                elem.checked = i[1];
            }
            else{
                elem.value = i[1];
            }
        }
    }
}
update_from_cookie()
</script>
{% endblock %}