{% if perm %}
{% extends "layout.html" %}
{% else %}
{% extends "layout_mob.html" %}
{% endif %}
{% block body %}
<script src="\static\js\shapes.js" ></script>
{% if info %}
<form name="scaling_form" id="form" method=POST>
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <td class="input-group input-group-lg"><span class="input-group-text">{{info[0].site.sensors[0]}}</span><input name="timestamp1" id="timestamp1" class="form-control" value="{{ info[2][0] }}" aria-describedby="inputGroup-sizing-lg" readonly></td>
        <td class="input-group input-group-lg"><span class="input-group-text">{{dictionary['weight']}} (KG)</span><input name="weight1" id="weight1" class="form-control" value="{{ info[2][1] }}"  aria-describedby="inputGroup-sizing-lg"readonly></td>
        <td class="input-group input-group-lg"><span class="input-group-text">{{info[0].site.sensors[1]}}</span><input name="timestamp2" id="timestamp2" class="form-control" value="{{ info[2][2] }}" aria-describedby="inputGroup-sizing-lg" readonly></td>
        <td class="input-group input-group-lg"><span class="input-group-text">{{dictionary['weight']}} (KG)</span><input name="weight2" id="weight2" class="form-control" value="{{ info[2][3] }}"  aria-describedby="inputGroup-sizing-lg"readonly></td>
        <td class="input-group input-group-lg"><span class="input-group-text">{{dictionary['product']}}</span><input list="product" name="product" class="form-control" placeholder="מוצר" aria-describedby="inputGroup-sizing-lg"></td>
        <datalist id="product">
            {% for product in info[1] %}
            <option>{{ product }}</option>
            {% endfor %}
        </datalist>
        <td class="input-group input-group-lg"><span class="input-group-text">{{dictionary['barcode']}}</span><input type="text" name="barcode" class="form-control" placeholder="ברקוד" autofocus></td>
        <td class="input-group input-group-lg"><span class="input-group-text">{{dictionary['description']}}</span><input type="text" name="quantity" class="form-control" placeholder="כמות" autofocus><input type="text" name="length" class="form-control" placeholder="אורך" autofocus><input type="text" name="diam" class="form-control" placeholder="קוטר" autofocus></td>
    </tr>
    <tr>
        <td><button id="submit" type="submit" class="btn btn-primary btn-lg">{{dictionary['add_scale']}}</button>
            <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/scaling_pick_crane'">{{dictionary['pick_crane']}}</button></td>
    </tr>
</table>
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <td>{{dictionary['operator_name']}}:  {{ user }}</td>
        <td>{{dictionary['doc_id']}}:  {{ info[0].doc_id }}</td>
        <td></td>
    </tr>
    <tr>
        <td>{{dictionary['driver']}}:  {{ info[0].driver }}</td>
        <td>{{dictionary['vehicle_id']}}:  {{ info[0].vehicle_id }}</td>
        <td>{{dictionary['costumer_name']}}:  {{ info[0].costumer }}</td>
    </tr>
    <tr>
        <td><button type="button" class="btn btn-primary btn-block" onclick="location.href='/new_scale'">{{dictionary['new_scale']}}</button></td>
        <td><button type="button" class="btn btn-danger btn-block" onclick="location.href='/scale_delete_last'">{{dictionary['delete_last']}}</button></td>
        <td><button type="button" class="btn btn-success btn-block" onclick="location.href='/print_scale'">{{dictionary['print']}}</button></td>
    </tr>
</table>
{% if info[3] %}
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        {%for item in info[3][0] %}
        <td>{{ item }}</td>
        {% endfor %}
    </tr>
    {% for line in info[3] %}
    <tr>
        {%for item in line %}
        <td>{{ line[item] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
</form>
<script>
  var intervalID = setInterval(update_values,2000);
  function update_values() {
  var data
        $.getJSON('/scaling_weight', function(data) {
        $('#result').text(data);
        ts1 = document.getElementById('timestamp1');
        ts2 = document.getElementById('timestamp2');
        weight1 = document.getElementById('weight1');
        weight2 = document.getElementById('weight2');
        ts1.value = data.ts1;
        ts2.value = data.ts2;
        weight1.value = data.weight1;
        weight2.value = data.weight2;
        if (data.ts1 == 'Not stable' || data.ts1 == 'COMMUNICATION ERROR' || data.ts2 == 'Not stable' || data.ts2 == 'COMMUNICATION ERROR'){
            document.getElementById("submit").disabled = true;
        }
        else{
            document.getElementById("submit").disabled = false;
        }
      });
    };
    function stopTextColor() {
      clearInterval(intervalID);
    }
</script>
{% else %}
<form name="scaling_form" id="form" method=POST>
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <td>{{dictionary['operator_name']}}:</td>
        <td>{{ user }}</td>
    </tr>
    <tr>
        <td>{{dictionary['driver']}}</td>
        <td><input name="driver" placeholder="driver" class="form-control" required autofocus></td>
    </tr>
    <tr>
        <td>{{dictionary['vehicle_id']}}</td>
        <td><input type="number" name="vehicle_id" placeholder="vehicle_id" class="form-control" required></td>
    </tr>
    <tr>
        <td>{{dictionary['costumer_name']}}</td>
        <td><input name="costumer" placeholder="costumer name" class="form-control" required></td>
    </tr>
    <tr>
        <td>{{dictionary['pick_crane']}}</td>
        <td><input name="site" list="site" class="form-control" value="{{defaults.site}}" required></td>
        <datalist id="site">
                {% for site in sites %}
                <option>{{ site }}</option>
                {% endfor %}
        </datalist>
    </tr>
    <tr>
        <td></td>
        <td><button type="submit" class="btn btn-primary btn-block">{{dictionary['ok']}}</button> </td>
    </tr>
</table>
</form>
{% if doc_list %}
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        {% for item in doc_list[0] %}
        <td><b>{{item}}</b></td>
        {% endfor %}
    </tr>
    {% for doc in doc_list %}
    <tr ondblclick='openNewWindow("\scale_report?{{doc.doc_id}}")'>
        {% for item in doc %}
        <td>{{doc[item]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endif %}
{% endblock %}