{% extends "layout_mob.html" %}
{% block body %}
{% if info %}
<form name="scaling_form" id="form" method=POST action="{{ url_for('scaling_info') }}">
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <td><button type="button" class="btn btn-primary btn-block" onclick="location.href='/new_scale'">שקילה חדשה</button></td>
        <td></td>
        <td><button type="button" class="btn btn-primary btn-block" onclick="location.href='/print_scale'">הדפס</button></td>
    </tr>
    <tr>
        <td>שם מפעיל:  {{ user }}</td>
        <td>מספר תעודה:  {{ info[0].doc_id }}</td>
        <td></td>
    </tr>
    <tr>
        <td>שם נהג:  {{ info[0].driver }}</td>
        <td>מספר רכב:  {{ info[0].vehicle_id }}</td>
        <td>שם לקוח:  {{ info[0].costumer }}</td>
    </tr>
    <tr>
        <td>{{ info[0].site.sensors[0] }}</td>
        <td>{{ info[0].site.sensors[1] }}</td>
        <td></td>
    </tr>
    <tr>
        {% if info[0].lc[0] %}
        <td><input type="checkbox" style="width:40px;height:40px;" name="lc1" value="{{info[0].site.sensors[0]}}" checked></td>
        {% else %}
        <td><input type="checkbox" style="width:40px;height:40px;" name="lc1" value="{{info[0].site.sensors[0]}}"></td>
        {% endif %}
        {% if info[0].lc[1] %}
        <td><input type="checkbox" style="width:40px;height:40px;" name="lc2" value="{{info[0].site.sensors[1]}}" checked></td>
        {% else %}
        <td><input type="checkbox" style="width:40px;height:40px;" name="lc2" value="{{info[0].site.sensors[1]}}"></td>
        {% endif %}
        <td></td>
    </tr>
</table>
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <td class="input-group input-group-lg"><span class="input-group-text">זמן שקילה</span><input name="timestamp" class="form-control" value="{{ info[2][1] }}" aria-describedby="inputGroup-sizing-lg" readonly></td>
        <td class="input-group input-group-lg"><span class="input-group-text">משקל (KG)</span><input name="weight" class="form-control" value="{{ info[2][0] }}"  aria-describedby="inputGroup-sizing-lg"readonly></td>
        <td class="input-group input-group-lg"><span class="input-group-text">מוצר</span><input list="product" name="product" class="form-control" placeholder="מוצר" aria-describedby="inputGroup-sizing-lg" required></td>
        <datalist id="product">
            {% for product in info[1] %}
            <option>{{ product }}</option>
            {% endfor %}
        </datalist>
        <td class="input-group input-group-lg"><span class="input-group-text">ברקוד</span><input type="text" name="barcode" class="form-control" placeholder="ברקוד" autofocus></td>
    </tr>
    <tr>
        <td><button type="submit" class="btn btn-primary btn-lg">הוסף שקילה</button>
            <button type="button" class="btn btn-primary btn-lg" disabled>רענן</button></td>
    </tr>
</table>
{% if info[3] %}
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        {%for item in info[3][0] %}
        <td>{{ item }}</td>
        {% endfor %}
    </tr>
    {% for line in info[3] %}
    <tr>
        {%for item in line %}
        <td>{{ line[item] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}
</form>
{% else %}
<form name="scaling_form" id="form" method=POST action="{{ url_for('scaling_info') }}">
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <td>שם מפעיל:</td>
        <td>{{ user }}</td>
    </tr>
    <tr>
        <td>שם נהג</td>
        <td><input name="driver" placeholder="driver" class="form-control" required autofocus></td>
        <td></td>
    </tr>
    <tr>
        <td>מספר רכב</td>
        <td><input type="number" name="vehicle_id" placeholder="vehicle_id" class="form-control" required></td>
        <td></td>
    </tr>
    <tr>
        <td>שם לקוח</td>
        <td><input name="costumer" placeholder="costumer name" class="form-control" required></td>
        <td></td>
    </tr>
    <tr>
        <td>בחר עגורן</td>
        <td><input name="site" list="site" class="form-control" value="{{defaults.site}}" required></td>
        <datalist id="site">
                {% for site in sites %}
                <option>{{ site }}</option>
                {% endfor %}
        </datalist>
    </tr>
    <tr>
        <td></td>
        <td><button type="submit" class="btn btn-primary btn-block">אישור</button> </td>
    </tr>
</table>
</form>
{% endif %}
{% endblock %}