{% extends "layout_mob.html" %}
{% block body %}
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <td colspan="10"><b>User:</b> {{user}}, <b>Machine:</b> {{machine.machine_name}} / {{machine.machine_id}}</td>
    </tr>
    <form method=POST id="form" action="{{ url_for('scan') }}">
    <tr>
        <td class="d-grid gap-2">
            {% if order!="" %}
            <label style="font-size:50px;">{{dictionary['order_id']}}: {{order}}</label>
            <label style="font-size:50px;">{{dictionary['job_id']}}: {{job}}</label>
            <input type="hidden" name="order_id" value="{{order}}">
            <input type="hidden" name="job_id" value="{{job}}">
            {% if status %}
            <button type="submit" class="btn btn-success btn-block btn-lg" name="status" value="{{status}}">{{status}}</button>
            {% endif %}
            <button type="button" class="btn btn-danger btn-block btn-lg" onclick="location.href='/scan'">{{dictionary['cancel']}}</button>
            {% else %}
            <label>{{dictionary['scan_barcode']}}</label>
            <input type="text" class="form-control" id="scan" name="scan" placeholder="{{dictionary['scan_barcode']}}" onfocusout="scanFocus();" onkeyup="scanSubmit();" autofocus>
        </td>
    </tr>
    {% endif %}
    {% if msg != "" %}
    <tr>
        <td>
            <label>{{msg}}</label>
        </td>
    </tr>
    {% endif %}
    </form>
</table>
<script>
    function scanFocus(){
        document.getElementById('scan').focus();
    }
    function scanSubmit(){
        scanVal = document.getElementById('scan').value
        if (scanVal.includes('BF2D')){
            document.getElementById('form').submit();
        }
    }
</script>
{% endblock %}