{% extends "layout_mob.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('scan') }}">
                {% if order!="" %}
                <div class="form-group">
                    <label>מספר הזמנה: {{order}}</label>
                    <input type="hidden" name="order_id" value="{{order}}">
                    <button type="submit" class="btn btn-primary btn-block" name={{status}}>{{status}}</button>
                </div>
                {% else %}
                <div class="form-group">
                    <label>Scan barcode</label>
                    <input type="text" class="form-control" name="scan" placeholder="Scan barcode" autofocus>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Scan</button>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}