<html>
<head>
    <meta charset="utf-8">
</head>
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{% if shape_data != {} %}
{% if shape_data.edges == 0 %}
<body onload="closeWindow({{shape_data.shape}}, {{shape_data.tot_len}})">
{% else %}
<table class="table table-striped" dir="rtl" align="center">
    <form id="shape_form" method=POST action="{{ url_for('shape_editor') }}">
        <tr>
            <td>
                <input type="hidden" name="shape_data" value="{{shape_data.shape}}">
                <img src="{{shape_data.img_plot}}" title="{{shape_data.shape}}"/>
            </td>
            <td>
            {% for edge in shape_data.edges %}
                <input type="number" class="amount" onchange="findTotal('amount', 'length')" name="{{edge}}" placeholder="{{edge}}" required autofocus>
            {% endfor %}
            </td>
            <td>
            {% for ang in shape_data.angels %}
                <input type="number" class="amount" name="ang_{{loop.index}}" placeholder="< {{ ang }}">
            {% endfor %}
            </td>
        </tr>
    <tr>
        <td>
            <button class="btn btn-primary btn-block" type="submit">אישור</button>
        </td>
        <td>
            סהכ אורך<br>
            <input type="text" name="length" id="length" readonly />
        </td>
    </tr>
    </form>
</table>
{% endif %}
{% else %}
<table class="table table-striped" dir="rtl" align="center">
    {% for shape in shapes %}
    <tr ondblclick="location.href='/shape_editor?{{shape}}'">
        <td width="30%"><img src="\static\images\shapes\{{shape}}.png" title="{{shape}}"/></td>
        <td width="60%" style="text-align:center;">{{shape}}: <br> {{ shapes[shape] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<script src="\static\js\shapes.js"></script>
</body>
</html>