<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
</head>
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
{% if shape_data != {} %}
{% if shape_data.edges == 0 %}
<body onload="closeWindow({{shape_data.shape}}, {{shape_data.tot_len}}, '{{shape_data.shape_data}}')">
{% else %}
<script>
    function valid_shape_input(index){
        console.log(index);
        all_inpts = document.getElementsByTagName('input');
        for (tag in all_inpts){
            console.log(all_inpts[tag])
        }
    }
</script>
<table class="table table-striped" dir="rtl" align="center">
    <form id="input_form" method=POST action="{{ url_for('shape_editor') }}" onsubmit="input_form.disabled = true; return true;"  onkeydown="return event.key != 'Enter';">
        <tr>
            <td>
                <input type="hidden" name="shape_data" value="{{shape_data.shape}}">
                <img src="{{shape_data.img_plot}}" title="{{shape_data.shape}}"/>
            </td>
            <td>
            {% for edge in shape_data.edges %}
                <input type="number" class="amount" name="{{edge}}" id="{{edge}}" value="{{defaults.edges[loop.index0]}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{loop.index0}});' onchange="valid_shape_input({{edge}});" placeholder="{{edge}}" required autofocus>
            {% endfor %}
            </td>
            <td>
            {% for ang in shape_data.angels %}
                <input type="number" class="amount" name="ang_{{loop.index}}" id="ang_{{loop.index}}" value="{{defaults.ang[loop.index0]}}" onkeydown="return event.key != 'Enter';" onkeyup='focusNext({{loop.index0 + shape_data.edges|length}})' placeholder="< {{ ang }}">
            {% endfor %}
            </td>
        </tr>
    <tr>
        <td>
            סהכ אורך<br>
            <input type="text" name="length" id="length" readonly />
        </td>
    </tr>
    </form>
</table>
{% endif %}
{% else %}
<table class="table table-striped" dir="rtl" align="center">
    <tr>
        <td>חיפוש לפי מספר צלעות</td>
        <td><input type="number" name="search" id="search"><button type="button" onclick="search()">חיפוש</button><button type="button" onclick="window.location.reload();">איפוס</button> </td>
    </tr>
    {% for shape in shapes %}
    <tr ondblclick="location.href='/shape_editor?shape={{shape}}'" class="edges_{{ shapes[shape].edges }}">
        <td width="30%"><img src="\static\images\shapes\{{shape}}.png" title="{{shape}}"/></td>
        <td width="60%" style="text-align:center;">{{shape}}: <br> {{ shapes[shape].description }}</td>
    </tr>
    {% endfor %}
</table>
<script>
    shapes = JSON.parse('{{shapes|tojson}}');
    const search_edges = document.getElementById("search");
    function search(){
        for (shape in shapes){
            if (shape != search_edges.value){
                tr_list = document.getElementsByClassName('edges_'+shape);
                if (tr_list){
                    for (let tr = 0; tr < tr_list.length; tr++){
                    console.log(tr);
                        tr_list[tr].setAttribute('hidden', true);
                    }
                }
            }
        }
    }
</script>
{% endif %}
<script src="\static\js\shapes.js"></script>
<script>
diam_limits = JSON.parse('{{diam_limits|tojson}}');
datatodisp = JSON.parse('{{datatodisp|tojson}}');
dtd_order = {{dtd_order|safe}}
</script>
</body>
</html>