<table dir="rtl" align="center">
    <tr>
        <td>
            <table class="table table-striped" dir="rtl" align="center">
                <tr>
                    <td>
                        <input type="number" name="trim_x_start" class="form-control" placeholder="קוץ רוחב התחלה" value="{{defaults['trim_x_start']}}" required>
                    </td>
                    <td>
                        <input type="number" name="trim_x_end" class="form-control" placeholder="קוץ רוחב סוף" value="{{defaults['trim_x_end']}}" required>
                    </td>
                </tr>
                <tr>
                    <td id="x_length_container">
                        רוחב
                        <input type="number" name="x_length" id="x_length" class="form-control" placeholder="רוחב" value="{{defaults['x_length']}}" required>
                    </td>
                    <td id="x_pitch_container">
                        פסיעה
                        <input type="number" name="x_pitch" id="x_pitch" class="form-control" placeholder="פסיעה" value="{{defaults['x_pitch']}}" required>
                    </td>
                    <td>
                        <button type="button" onclick="addInput('x_length_container');addInput('x_pitch_container');">הוסף</button>
                    </td>
                </tr>
                {% if order_data.include_data %}
                {% for item in order_data.include_data.x_pitch %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <label class="amount_x">{{order_data.include_data.x_length[loop.index0]}}</label>
                    </td>
                    <td>
                        <lable>{{order_data.include_data.x_pitch[loop.index0]}}</lable>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </td>
        <td width="80"></td>
        <td>
            <table class="table table-striped" dir="rtl" align="center">
                <tr>
                    <td>
                        <input type="number" name="trim_y_start" class="form-control" placeholder="קוץ אורך התחלה" value="{{defaults['trim_y_start']}}" required>
                    </td>
                    <td>
                        <input type="number" name="trim_y_end" class="form-control" placeholder="קוץ אורך סוף" value="{{defaults['trim_y_end']}}" required>
                    </td>
                </tr>
                <tr>
                    <td> <!--onchange="findTotal2('amount_y', 'length', 'y_length')"-->
                        אורך
                        <input type="number" name="y_length" id="y_length"  class="form-control" placeholder="אורך" value="{{defaults['y_length']}}" required>
                        <div id="y_length_container"></div>
                    </td>
                    <td>
                        פסיעה
                        <input type="number" name="y_pitch" id="y_pitch" class="form-control" placeholder="פסיעה" value="{{defaults['y_pitch']}}" required>
                        <div id="y_pitch_container"></div>
                    </td>
                    <td>
                        <button type="button" onclick="addInput('y_length_container');addInput('y_pitch_container');">הוסף</button>
                    </td>
                </tr>
                {% if order_data.include_data %}
                {% for item in order_data.include_data.y_pitch %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <label class="amount_y">{{order_data.include_data.y_length[loop.index0]}}</label>
                    </td>
                    <td>
                        <lable>{{order_data.include_data.y_pitch[loop.index0]}}</lable>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </td>
    </tr>
</table>
<script>
    window.onload = function(){findTotal2('amount_x', 'width', 'x_length');findTotal2('amount_y', 'length', 'y_length');};
</script>