<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tzomet ERP">
    <meta name="author" content="Margolis Systems">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tzomet ERP</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<table class="table table-striped" dir="rtl" align="center">
    <form name="split_form" id="split_form" method=POST autocomplete="off" onsubmit="refreshWindow();">
      <tr>
        <td>מספר שורה</td>
          <td>משקל</td>
          <td>אורך</td>
          <td>צורה</td>
        <td>פיצול</Td>
      </tr>
      {% for job in order %}
      <tr>
        <td>{{job.job_id}}</td>
        <td>{{job.weight}}</td>
        <td>{{job.length}}</td>
        <td>{{job.shape}}</td>
        <td><input list="list" type="number" class="form-control" name="{{job.job_id}}" value="{{job.order_split}}" placeholder="מספר פיצול" min="1"></td>
          <datalist id="list">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
          </datalist>
      </tr>
      {% endfor %}
        <textarea name="reason" id="reason" class="form-control" placeholder="סיבה" required>{{split_reason}}</textarea>
      <tr>
          <td><button type="submit" class="btn btn-warning">פצל</button> </td>
          <td colspan="10"><button type="button" class="btn btn-danger" onclick="cancel_split()">בטל פיצול</button> </td>
      </tr>
    </form>
</table>
<script src="\static\js\shapes.js" ></script>
<script>
    function cancel_split() {
        document.getElementById("reason").setAttribute('name', 'cancel');
        document.getElementById('split_form').submit();
        refreshWindow();
    }
</script>
</body>
</html>